body {
  background-attachment: scroll;
  padding: 0;
  margin: 0;
}

#wrapper {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position:relative;
}

#header {
  display: inline;
  background: white;
  height: 80px;
  opacity: 0.95;
  margin: 0;
  padding: 0;
  width: 100%;
}

#name {
  height:110px;
}

#name h1 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:bold;
  font-size:44px;
  letter-spacing: 1.5em;
  font-weight: bold;
}

#content {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background: url(wall.jpg);
  background-size: cover;
  border: solid;
  height: 1800px;
  margin: 0;
  width: auto;
  margin-bottom: 100px;
}

#tags {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  padding-bottom: 10em;
}

#top {
  flex-grow: 0.2;
  order:0;
  color:white;
  text-align:center;
  font-family:Helvetica;
  font-weight:bold;
  font-size:14px;

}

.title {
  display:block;
  font-size: 20px;
}

.title h1 {
  color:white;
  font-weight: bold;
  font-size: 44px;
  text-shadow: 1px 0 black, 0 3px black, 3px 0 black, 0 1px black;
}

div p {
  margin: 5em 2em;
  font-size: 16px;
  line-height: 2em;
  font-weight: lighter;
}

div h2 {
  font-size: 44px;
  color: white;
  text-shadow: 1px 0 black, 0 3px black, 3px 0 black, 0 1px black;
}

div h3 {
  margin-top: 1em;
  color: black;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.5em;
  /*margin-bottom: 4em;*/
}

div img {
  margin-top: 2em;
}

a:hover .overlay {  
  background:rgba(0,.5,1,.75);
  text-align:center;
  padding: 0;
  opacity:0.8;
  -webkit-transition: opacity;
}

#projects {
  margin: -2em auto;
  height: 330px;
  width: 90%;
  background-color: white;
  border: solid;
  border-left: 0;
  border-right: 0;
  opacity: 0.98;
  color:black;
}

.projitem {
  display: inline-block;
  margin: 4em 3em;
  border:solid;
  border-left: 0;
  border-right: 0;
  width:40%;
  height:70%;
  
}


#middle {
  flex-grow: 1;
  order:1;
  color:black;
  font-family:Arial;
  font-weight:bold;
  font-size:14px;
  text-align:center;
}

#bottom {
  flex-grow: 1;
  order:2;
  color:white;
  font-family:Arial;
  font-weight:bold;
  font-size:14px;
}

img[alt="Profile"] {
  border-radius: 60px;
}


#about {
  position: absolute;
  border: solid;
  border-left: 0;
  border-right: 0;
  right:0;
  margin-top: 4em;
  margin-right: 4em;
  height: 400px;
  width: 600px;
  background-color: white;
  opacity: 0.98;
  color:black;
}

#contacts {
  position: absolute;
  right: 0;
  margin-right: 4em;
  text-align: center;
  height:300px;
  width: 800px;
}

.contactitem {
  float: left;
  margin-left: 3em;
  margin-right: 2em;
}

ul {
  display: inline;
  list-style-type: none;
}

li {
  float: right;
  font-family: Helvetica, Arial, sans-serif;
}

li a {
  text-decoration: none;
  color: black;
  padding: 2em;
}

footer {
  position:absolute;
  bottom:0;
  margin-bottom: -100px;
  background-color: black;
  opacity: 1;
  height:100px;
  width: 100%;
  text-align:center;
} 

footer h6 {
  vertical-align: -20px; 
  text-align: center;
  color:white;
  font-size: 16px;
}
